<!-- Pages/Index.razor -->
@page "/"
@inherits LayoutComponentBase
<div class="index-content">
    <h1>Välkommen till vår Blazor-webbplats!</h1>
    <div class="banner">
    <img src="images/3.png" alt="banner">
</div>
    <p>Denna webbplats är byggd med Blazor WebAssembly och ger dig möjlighet att utföra olika konverteringar och visa JSON-data.</p>
    <p>Du kan navigera till olika sidor med hjälp av navigationslänkar i menyn ovanför.</p>
</div>
